[submodule "shared/~/.zsh/fast-syntax-highlighting"]
	path = shared/~/.zsh/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "shared/~/.zsh/z"]
	path = shared/~/.zsh/z
	url = git@github.com:rupa/z.git
[submodule "shared/~/.zsh/zsh-autosuggestions"]
	path = shared/~/.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "shared/~/.zsh/fetching"]
	path = shared/~/.zsh/fetching
	url = git@github.com:robole/fetching.git
