[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isClonedFrom=-1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=3
maxLength=100
name=Window title menu
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=1
settingsComplexity=4
timerHide=500
timerShow=200
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][13][Applets][116]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][13][Applets][116][Configuration]
PreloadWeight=0

[Containments][13][Applets][116][Configuration][ConfigDialog]
DialogHeight=510
DialogWidth=680

[Containments][13][Applets][167]
immutability=1
plugin=org.kde.windowtitle

[Containments][13][Applets][167][Configuration]
PreloadWeight=0

[Containments][13][Applets][167][Configuration][ConfigDialog]
DialogHeight=510
DialogWidth=680

[Containments][13][Applets][167][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
filterActivityInfo=false
iconFillThickness=false
iconSize=26
placeHolder=Garuda

[Containments][13][Applets][168]
immutability=1
plugin=org.kde.windowappmenu

[Containments][13][Applets][168][Configuration]
PreloadWeight=0

[Containments][13][Applets][168][Configuration][ConfigDialog]
DialogHeight=510
DialogWidth=680

[Containments][13][Applets][168][Configuration][General]
containmentType=Latte
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][13][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][13][Configuration]
PreloadWeight=0

[Containments][13][General]
activeWindowFilter=FromAllScreens
advanced=true
alignmentUpgraded=true
appletOrder=167;116;168
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=50
configurationSticker=true
disablePanelShadowForMaximized=true
dragActiveWindowEnabled=true
floatingGapHidingWaitsMouse=true
iconSize=34
lastDodgeVisibilityMode=4
maxLength=60
minLength=55
mouseWheelActions=false
panelPosition=10
panelSize=100
panelTransparency=15
screenEdgeMargin=5
scrollAction=ScrollDesktops
shadowColorType=Theme
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=3
splitterPosition2=4
taskScrollAction=ScrollNone
tasksUpgraded=true
themeColors=SmartThemeColors
thickMargin=0
titleTooltips=false
userBlocksColorizingApplets=116
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][13][Indicator]
customType=org.kde.latte.win10
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.default

[Containments][13][Indicator][org.kde.latte.default][General]
activeStyle=Dot
reversed=true

[Containments][13][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.19

[Containments][130]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=10
layoutId=
location=4
plugin=org.kde.plasma.private.systemtray
popupHeight=528
popupWidth=528
wallpaperplugin=org.kde.image

[Containments][130][Applets][131]
immutability=1
plugin=org.kde.kdeconnect

[Containments][130][Applets][131][Configuration]
PreloadWeight=0

[Containments][130][Applets][132]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][130][Applets][132][Configuration]
PreloadWeight=22

[Containments][130][Applets][133]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][130][Applets][133][Configuration]
PreloadWeight=0

[Containments][130][Applets][134][Configuration]
PreloadWeight=42

[Containments][130][Applets][135]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][130][Applets][135][Configuration]
PreloadWeight=0

[Containments][130][Applets][135][Shortcuts]
global=

[Containments][130][Applets][136][Configuration]
PreloadWeight=42

[Containments][130][Applets][138][Configuration]
PreloadWeight=42

[Containments][130][Applets][139]
immutability=1
plugin=org.kde.plasma.volume

[Containments][130][Applets][139][Configuration]
PreloadWeight=0

[Containments][130][Applets][139][Configuration][ConfigDialog]
DialogHeight=2072
DialogWidth=3828

[Containments][130][Applets][152]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][130][Applets][152][Configuration]
PreloadWeight=0

[Containments][130][Applets][153]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][130][Applets][153][Configuration]
PreloadWeight=0

[Containments][130][Applets][157]
immutability=1
plugin=org.kde.kscreen

[Containments][130][Applets][157][Configuration]
PreloadWeight=0

[Containments][130][Applets][190]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][130][Applets][190][Configuration]
PreloadWeight=0

[Containments][130][ConfigDialog]
DialogHeight=2072
DialogWidth=1021

[Containments][130][General]
extraItems=org.kde.plasma.bluetooth,org.kde.kdeconnect,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.kscreen,org.kde.plasma.clipboard
hiddenItems=Garuda System Maintenance,jamesdsp,org.kde.plasma.devicenotifier,org.kde.kscreen,org.kde.plasma.networkmanagement
iconSpacing=6
knownItems=org.kde.plasma.bluetooth,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume
shownItems=org.kde.plasma.clipboard,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.bluetooth

[Containments][14]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=100
name=Bottom panel
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
screensGroup=0
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][129]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][129][Configuration]
PreloadWeight=88
SystrayContainmentId=130

[Containments][14][Applets][164]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][14][Applets][164][Configuration]
PreloadWeight=0

[Containments][14][Applets][164][Configuration][Appearance]
customDateFormat=d MMM
customSpacing=3.114754098360656
dateFormat=customDate
displayTimezoneAsCode=false
fixedFont=true
fontSize=18
showWeekNumbers=true
use24hFormat=2

[Containments][14][Applets][164][Configuration][ConfigDialog]
DialogHeight=510
DialogWidth=680

[Containments][14][Applets][172]
immutability=1
plugin=org.kde.plasma.battery

[Containments][14][Applets][172][Configuration]
PreloadWeight=0

[Containments][14][Applets][176]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][14][Applets][176][Configuration]
PreloadWeight=100

[Containments][14][Applets][176][Configuration][ConfigDialog]
DialogHeight=2072
DialogWidth=3828

[Containments][14][Applets][176][Configuration][General]
favoritesPortedToKAstats=true
icon=/usr/share/pixmaps/archlinux-logo.png
primaryActions=3
systemFavorites=lock-screen\\,logout\\,save-session\\,switch-user\\,suspend\\,hibernate\\,reboot\\,shutdown

[Containments][14][Applets][179]
immutability=1
plugin=org.kde.plasma.minimaldesktopindicator

[Containments][14][Applets][179][Configuration]
PreloadWeight=34

[Containments][14][Applets][179][Configuration][ConfigDialog]
DialogHeight=510
DialogWidth=680

[Containments][14][Applets][185]
immutability=1
plugin=org.kde.plasma.taskmanager

[Containments][14][Applets][185][Configuration]
PreloadWeight=25

[Containments][14][Applets][185][Configuration][ConfigDialog]
DialogHeight=2097
DialogWidth=1897

[Containments][14][Applets][185][Configuration][General]
launchers=
maxStripes=1
middleClickAction=ToggleMinimized
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=false
wheelEnabled=false

[Containments][14][Applets][188]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][188][Configuration]
PreloadWeight=0

[Containments][14][Applets][188][Configuration][ConfigDialog]
DialogHeight=2097
DialogWidth=2466

[Containments][14][Applets][188][Configuration][General]
containmentType=Latte
lengthPercentage=100
lengthPixels=38
lengthType=Percentage

[Containments][14][Applets][199]
immutability=1
plugin=org.kde.plasma.colorpicker

[Containments][14][Applets][199][Configuration]
PreloadWeight=41

[Containments][14][Applets][199][Configuration][General]
history=#2e3440,#bf616a

[Containments][14][Applets][202]
immutability=1
plugin=com.github.tilorenz.compact_pager

[Containments][14][Applets][202][Configuration]
PreloadWeight=100

[Containments][14][Applets][202][Configuration][Appearance]
bgColor=46,52,64
bgColorChecked=true
displayBorder=false
fontFamily=Fira Sans Condensed
fontSize=1

[Containments][14][Applets][202][Configuration][ConfigDialog]
DialogHeight=2097
DialogWidth=3816

[Containments][14][Applets][202][Configuration][General]
forceLayout=Compact

[Containments][14][Applets][205]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][205][Configuration][ConfigDialog]
DialogHeight=2097
DialogWidth=1897

[Containments][14][Applets][205][Configuration][General]
containmentType=Latte
lengthPercentage=100
lengthType=Percentage

[Containments][14][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
activeWindowFilter=FromAllScreens
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=176;188;202;205;185;199;129;172
appletShadowsEnabled=false
autoSizeEnabled=false
dragActiveWindowEnabled=true
floatingGapHidingWaitsMouse=true
floatingInternalGapIsForced=false
hideFloatingGapForMaximized=true
iconSize=34
inConfigureAppletsMode=true
lockedZoomApplets=185
maxLength=90
minLength=90
panelSize=100
panelTransparency=15
plasmaBackgroundForPopups=true
screenEdgeMargin=5
scrollAction=ScrollDesktops
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=6
splitterPosition2=7
tasksUpgraded=true
themeColors=SmartThemeColors
thickMargin=0
titleTooltips=false
userBlocksColorizingApplets=176;172;185;129;202
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][14][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][14][Indicator][org.kde.latte.default][General]
activeStyle=Dot

[Containments][14][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.06

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=panel
lastUsedActivity=
launchers=
popUpMargin=0
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
